{% extends "necrotopia/base.html" %}

{% load static %}
{% load bootstrap5 %}


{% block title %}Create an Account{% endblock %}

{% block content %}

    <div class="container-fluid d-flex justify-content-center">
        {% if user.is_authenticated %}
            <H1>Welcome back {{ user.title }} {{ user.display_name }}. Everything is just where you left it.</H1>
        {% else %}
            <H1>Welcome, friendo. Please register an account to get the most out of your {{ title }} experience.</H1>
        {% endif %}
    </div>

{% endblock %}