{% extends "necrotopia/base.html" %}
{% load static %}
{% get_media_prefix %}
{% load imagekit %}
{% block title %}{{ skill.name }}{% endblock %}

{% block content %}
    <div class="necrotopia-item-card">
        <div class="container-fluid no-padding necrotopia-item-card">
            <div class="card">
                <h1 class="necrotopia-item-titlebar_dark"><i class="fa-solid fa-cannabis mercantile-section-icon"></i>Skill - {{ skill.name }}</h1>
                    <div class="necrotopia-item-card">
                        <div class="col-lg-6 col-sm-6">
                        <div class="col-lg">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Tags</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <td>{{ skill.get_item_type }}</td>
                                    <td>
                                        <em>
                                            {{ skill.get_tags_string }}
                                        </em>
                                    </td>
                                </tbody>
                            </table>
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Rating</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for skill_rating in skill_ratings %}
                                        <tr>
                                            <td>{{ skill_rating.get_item_type }}</td>
                                            <td>{{ skill_rating.description }}</td>
                                        <tr></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}