{% extends "necrotopia/base.html" %}
{% load crispy_forms_filters %}

{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% crispy form %}
{% load bootstrap_icons %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

    <div id="id_user_profile_container" class="container container-lg">
        <div id="id_main_internal_row" class="row">
            <div id="id_main_left_col" class="col-3 bg-success text-center">
                <h2>{{ user.display_name }}</h2>
                <a href="">
                    <img src="{% static 'images/default_user.png' %}" class="rounded-circle mb-2"/>
                    {% bs_icon 'pencil' color='black' extra_classes='align-bottom mb-2' %}
                </a>
            </div>
            <div id="id_main_right_col" class="col bg-warning">

                <div class="container">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a id="nav-personal-tab"  class="nav-link active" data-bs-toggle="tab" href="#nav-personal" role="tab" aria-controls="nav-personal" aria-selected="true">Personal Details</a>
                            <a id="nav-bubkiss-tab" class="nav-link" data-bs-toggle="tab" href="#nav-bubkiss" role="tab" aria-controls="nav-bubkiss" aria-selected="false">Bubkiss</a>
                            <a id="nav-nada-tab" class="nav-link" data-bs-toggle="tab" href="#nav-nada" role="tab" aria-controls="nav-nada" aria-selected="false">Nada</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div id="nav-personal" class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-personal-tab">
{#                            {% include "necrotopia/user_displayname.html" %}#}
                            first tab
                        </div>
                        <div id="nav-bubkiss" class="tab-pane fade"  role="tabpanel" aria-labelledby="nav-bubkiss-tab">
                            second tab
                        </div>
                        <div id="nav-nada" class="tab-pane fade"  role="tabpanel" aria-labelledby="nav-nada-tab">
                            second tab
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}